@using SolucionCreditos.Entities

@model TipoMovimiento


<form method="post">
    <div>
        <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" asp-for="Concepto" required />
        </div>

        <div class="form-group">
            <label>Entrada de capital</label>
            <input  class="form-check" type="checkbox" asp-for="Deposito" />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary" asp-controller="TipoMovimientos" asp-action="Index">Cancelar</a>

    </div>
</form>