@using SolucionCreditos.Entities

@model Cuenta


<form method="post">
    <div>
        <div class="form-group">
            <label>Numero de cuenta</label>
            <input type="text" class="form-control" asp-for="NumeroCuenta" required />
        </div>

        <div class="form-group">
            <label>Saldo</label>
            <input type="number" class="form-control" asp-for="Saldo"  step="0.01" min="0" required />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary" asp-controller="Cuentas" asp-action="Index" asp-route-id="@ViewBag.idCliente">Cancelar</a>

    </div>
</form>