@using SolucionCreditos.Entities

@model Cliente


<form method="post">
    <div>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" asp-for="Nombre" required />
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" asp-for="Apellido" required />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

    </div>
</form>
