@using SolucionCreditos.Entities

@model Cliente


<form method="post">
    <div>
        <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" asp-for="Nombre" required/>
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input class="form-control" asp-for="Apellido" required/>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
